@import '../../theme.scss';
$gap: 20px;

.main-container {
    display: flex;
    flex-direction: column;
    &.stacked {
        gap: $gap;
    }
    padding-top: $gap;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 0 $gap;
    h2 {
        margin: 0;
    }

    a,
    a:visited,
    a:active {
        color: $primary;
        text-decoration: none;
        size: 14px;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.image-gallery-container {
    display: grid;
    gap: $gap;
    width: 100%;
    box-sizing: border-box;

    &.stacked {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 $gap;
    }

    &.horizontal {
        .title-container {
            padding: 0;
        }
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: $gap;
        padding-bottom: 120px; //TODO: mini hack for now to show the drop shadow (requires further investigation)
        &::-webkit-scrollbar {
            display: none; /* Hide scrollbar */
        }
        .gallery-container:first-child {
            margin-left: $gap;
        }

        .gallery-container:last-child {
            margin-right: $gap;
        }
    }
}
