$primary: #684cec;
$secondary: #ffbf75;
$lightGray: #eeeeee;
$white: #ffffff;
$primary-dark: #232831;
$secondary-dark: #383f49;
$nav-gray: #7d7f88;

$default-font: 'SF Pro Display', sans-serif;

$primary-gradient: linear-gradient(to bottom, #917afd, #6246ea);
